# SPRINT 3 - Tarea M3 T02

## Ejercicio 1
Descarga el data set Airlines Delay: Airline on-time statistics and delay causas y cárgalo en un Pandas Dataframe. Explora los datos que contiene, explica brevemente qué variables existen y queda únicamente con las columnas que consideres relevantes. Justifica tu elección.

*Importante: Reduce la dimensión del dataset de forma aleatoria para obtener un dataset de sólo 200.000 registros. Todos los ejercicios deben realizarse con este dataset reducido.*

In [1]:
import pandas as pd

In [2]:
BasePath = "C:/Users/Pepo/Desktop/Data Science/Barcelona Activa"
Archivo = BasePath + "/Sprint 3. Programación numérica, dataframes y análisis estadístico/Data Set/DelayedFlights.csv"
df = pd.read_csv(Archivo)

In [3]:
pd.options.display.max_columns = 0
df.head ()

   Unnamed: 0  Year  Month  DayofMonth  ...  WeatherDelay  NASDelay  SecurityDelay  LateAircraftDelay
0           0  2008      1           3  ...           NaN       NaN            NaN                NaN
1           1  2008      1           3  ...           NaN       NaN            NaN                NaN
2           2  2008      1           3  ...           NaN       NaN            NaN                NaN
3           4  2008      1           3  ...           0.0       0.0            0.0               32.0
4           5  2008      1           3  ...           NaN       NaN            NaN                NaN

[5 rows x 30 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936758 entries, 0 to 1936757
Data columns (total 30 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   Year               int64
 2   Month              int64
 3   DayofMonth         int64
 4   DayOfWeek          int64
 5   DepTime            float64
 6   CRSDepTime         int64
 7   ArrTime            float64
 8   CRSArrTime         int64
 9   UniqueCarrier      object
 10  FlightNum          int64
 11  TailNum            object
 12  ActualElapsedTime  float64
 13  CRSElapsedTime     float64
 14  AirTime            float64
 15  ArrDelay           float64
 16  DepDelay           float64
 17  Origin             object
 18  Dest               object
 19  Distance           int64
 20  TaxiIn             float64
 21  TaxiOut            float64
 22  Cancelled          int64
 23  CancellationCode   object
 24  Diverted           int64
 25  CarrierDelay       float64
 26  WeatherDelay       float64
 27  NASDelay           float64
 28  SecurityDelay      float64
 29  LateAircraftDelay  float64
dtypes: float64(14), int64(11), object(5)
memory usage: 443.3+ MB

### Descripción de datos:
El data set contiene información relacionada a los retrasos de los vuelos, de manera general se tiene: la fecha exacta, las horas de salida/ llegada tanto reales como programadas, la aerolínea y el número de vuelo correspondiente, el tiempo en que el avión está en el aire y moviendose en pista (tierra), los tiempos de retraso calculados tanto de salida como de llegada, el lugar de origen y destino, la duración del vuelo, los vuelos cancelados y finalmente los motivos de retrasos (Carrier, Weather, NAS, Security, Late Aircraft).

### Columnas a eliminar:

 **0   Unnamed: 0**         *Coincide con el index que se genera*
 
 **22  Cancelled**          *Para el entendimiento de los retrasos, no es relevante*  
 
 **23  CancellationCode**   *Para el entendimiento de los retrasos, no es relevante*
 
 
 *De todas las demás columnas concidero que se puede sacar información sobre los vuelos/ retrasos, sin embargo unas vez analizados esos datos podrían resultar irrelevantes por ser casos muy puntuales*

### Reducción de datos

In [5]:
#Eliminando colunmas:

df.drop(['Unnamed: 0', 'Cancelled', 'CancellationCode' ], inplace=True, axis=1)

In [6]:
# Eliminando filas:

    #Random
df = df.sample(n=200000)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200000 entries, 298658 to 584387
Data columns (total 27 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Year               200000 non-null  int64
 1   Month              200000 non-null  int64
 2   DayofMonth         200000 non-null  int64
 3   DayOfWeek          200000 non-null  int64
 4   DepTime            200000 non-null  float64
 5   CRSDepTime         200000 non-null  int64
 6   ArrTime            199240 non-null  float64
 7   CRSArrTime         200000 non-null  int64
 8   UniqueCarrier      200000 non-null  object
 9   FlightNum          200000 non-null  int64
 10  TailNum            200000 non-null  object
 11  ActualElapsedTime  199123 non-null  float64
 12  CRSElapsedTime     199983 non-null  float64
 13  AirTime            199123 non-null  float64
 14  ArrDelay           199123 non-null  float64
 15  DepDelay           200000 non-null  float64
 16  Origin             200000 non-null  object
 17  Dest               200000 non-null  object
 18  Distance           200000 non-null  int64
 19  TaxiIn             199240 non-null  float64
 20  TaxiOut            199951 non-null  float64
 21  Diverted           200000 non-null  int64
 22  CarrierDelay       128826 non-null  float64
 23  WeatherDelay       128826 non-null  float64
 24  NASDelay           128826 non-null  float64
 25  SecurityDelay      128826 non-null  float64
 26  LateAircraftDelay  128826 non-null  float64
dtypes: float64(14), int64(9), object(4)
memory usage: 42.7+ MB

In [7]:
#Ordenando según index:
df = df.sort_index()
df.head()

    Year  Month  DayofMonth  DayOfWeek  DepTime  ...  CarrierDelay  WeatherDelay  NASDelay SecurityDelay  LateAircraftDelay
5   2008      1           3          4   1937.0  ...          10.0           0.0       0.0           0.0               47.0
32  2008      1           3          4   1450.0  ...           0.0           0.0       6.0           0.0               15.0
48  2008      1           3          4   1859.0  ...           NaN           NaN       NaN           NaN                NaN
49  2008      1           3          4   1538.0  ...          15.0           0.0       0.0           0.0               28.0
57  2008      1           3          4    905.0  ...           NaN           NaN       NaN           NaN                NaN

[5 rows x 27 columns]

## Ejercicio 2
Realiza un informe completo del dataset:

Resume estadísticamente el dataset y las columnas de interés. Haz un análisis estadístico de lo que consideres relevante.
Encuentra cuántos datos faltantes hay por columna.
Crea nuevas columnas (velocidad media del vuelo, si ha llegado tarde o no...).
Haz una mesa de las aerolíneas con mayores retrasos acumulados.
¿Cuáles son los vuelos más largos? ¿Y los más atrasados? Busca las rutas más largas y las que acumulen más retrasos.
Aporta lo que consideres relevante.

In [8]:
df.describe()

           Year         Month     DayofMonth  ...       NASDelay  SecurityDelay  LateAircraftDelay
count  200000.0  200000.00000  200000.000000  ...  128826.000000   128826.00000      128826.000000
mean     2008.0       6.10445      15.811205  ...      15.050852        0.08638          25.153610
std         0.0       3.48691       8.763900  ...      33.801105        1.87421          41.991717
min      2008.0       1.00000       1.000000  ...       0.000000        0.00000           0.000000
25%      2008.0       3.00000       8.000000  ...       0.000000        0.00000           0.000000
50%      2008.0       6.00000      16.000000  ...       1.000000        0.00000           8.000000
75%      2008.0       9.00000      23.000000  ...      15.000000        0.00000          33.000000
max      2008.0      12.00000      31.000000  ...    1195.000000      229.00000        1254.000000

[8 rows x 23 columns]

In [9]:
# Datos faltantes por columna:

df.isna().sum()

Year                     0
Month                    0
DayofMonth               0
DayOfWeek                0
DepTime                  0
CRSDepTime               0
ArrTime                760
CRSArrTime               0
UniqueCarrier            0
FlightNum                0
TailNum                  0
ActualElapsedTime      877
CRSElapsedTime          17
AirTime                877
ArrDelay               877
DepDelay                 0
Origin                   0
Dest                     0
Distance                 0
TaxiIn                 760
TaxiOut                 49
Diverted                 0
CarrierDelay         71174
WeatherDelay         71174
NASDelay             71174
SecurityDelay        71174
LateAircraftDelay    71174
dtype: int64

In [14]:
# Meses con mayor retraso : 

MonthDelay = df.groupby(['Month'])[['Month']].agg(['count'])
MonthDelay.sort_values(by=[('Month', 'count')], ascending=False)

       Month
       count
Month
12     21081
3      20698
6      20658
2      19737
7      19144
1      19137
8      16637
4      15950
5      15634
10     10779
11     10748
9       9797

In [15]:
# Días de la semana con mayor retraso : 

DayDelay = df.groupby(['DayOfWeek'])[['DayOfWeek']].agg(['count'])
DayDelay.sort_values(by=[('DayOfWeek', 'count')], ascending=False)

          DayOfWeek
              count
DayOfWeek
5             33434
1             30077
4             29883
7             29524
2             27144
3             26857
6             23081

In [18]:
# Origen con mayor DepDelay acumulado:

OriginDepDelay = df.groupby(['Origin'])[['DepDelay']].agg(['sum'])
OriginDepDelay = OriginDepDelay.sort_values(by=[('DepDelay', 'sum')], ascending=False)
OriginDepDelay.head(10)

        DepDelay
             sum
Origin
ORD     643385.0
ATL     548330.0
DFW     370326.0
DEN     288787.0
EWR     270489.0
LAX     230853.0
SFO     225232.0
IAH     215926.0
LAS     214178.0
PHX     203982.0

In [20]:
# Destino con mayor ArrDelay acumulado: 

DestDepDelay = df.groupby(['Dest'])[['ArrDelay']].agg(['sum'])
DestDepDelay = DestDepDelay.sort_values(by=[('ArrDelay', 'sum')], ascending=False)
DestDepDelay.head(10)

      ArrDelay
           sum
Dest
ORD   670040.0
ATL   525305.0
EWR   343276.0
DFW   314394.0
DEN   246015.0
SFO   240309.0
LAX   227931.0
IAH   204788.0
LGA   203818.0
JFK   203048.0

In [23]:
# Vuelos más largos:

MoreDist = df.groupby(['Origin', 'Dest'])[['Distance']].agg(['max'])
MoreDist = MoreDist.sort_values(by=[('Distance', 'max')], ascending=False)
MoreDist.head(10)

            Distance
                 max
Origin Dest
HNL    EWR      4962
EWR    HNL      4962
ATL    HNL      4502
HNL    ATL      4502
ORD    HNL      4243
HNL    ORD      4243
KOA    ORD      4213
ORD    OGG      4184
HNL    MSP      3972
MSP    HNL      3972

In [24]:
#Crear nuevas columnas:

    # Velocidad media de vuelo/ Average Flight Speed (AveFliSpeed) expresado en miles/h:
df["AveFliSpeed"] = round((df["Distance"] / df["ActualElapsedTime"])*60,2)

In [25]:
df.head()

    Year  Month  DayofMonth  DayOfWeek  DepTime  ...  WeatherDelay  NASDelay  SecurityDelay LateAircraftDelay  AveFliSpeed
5   2008      1           3          4   1937.0  ...           0.0       0.0            0.0              47.0       397.75
32  2008      1           3          4   1450.0  ...           0.0       6.0            0.0              15.0       391.76
48  2008      1           3          4   1859.0  ...           NaN       NaN            NaN               NaN       211.76
49  2008      1           3          4   1538.0  ...           0.0       0.0            0.0              28.0       389.60
57  2008      1           3          4    905.0  ...           NaN       NaN            NaN               NaN       438.93

[5 rows x 28 columns]

In [26]:
# Ha llegado tarde o no (Columna On Time):

import numpy as np

df['OnTime'] = np.where(df['ArrTime'] <= df['CRSArrTime'], True, False)
df.head()

    Year  Month  DayofMonth  DayOfWeek  DepTime  ...  NASDelay  SecurityDelay  LateAircraftDelay AveFliSpeed  OnTime
5   2008      1           3          4   1937.0  ...       0.0            0.0               47.0      397.75   False
32  2008      1           3          4   1450.0  ...       6.0            0.0               15.0      391.76   False
48  2008      1           3          4   1859.0  ...       NaN            NaN                NaN      211.76   False
49  2008      1           3          4   1538.0  ...       0.0            0.0               28.0      389.60   False
57  2008      1           3          4    905.0  ...       NaN            NaN                NaN      438.93   False

[5 rows x 29 columns]

In [27]:
# Que tan tarde a llegado (Range of Delay):

# create a list of our conditions
conditions = [
    (df['ArrDelay'] <= 2),
    (df['ArrDelay'] > 2) & (df['ArrDelay'] <= 7),
    (df['ArrDelay'] > 7) & (df['ArrDelay'] <= 15),
    (df['ArrDelay'] > 15)
    ]

# create a list of the values we want to assign for each condition
values = ['No_Delay', 'Min_Delay', 'Modarate_Delay', 'Very_Delay']

# create a new column and use np.select to assign values to it using our lists as arguments
df['RangeDelay'] = np.select(conditions, values)

# display updated DataFrame
df.head()

    Year  Month  DayofMonth  DayOfWeek  DepTime  ...  SecurityDelay  LateAircraftDelay  AveFliSpeed OnTime  RangeDelay
5   2008      1           3          4   1937.0  ...            0.0               47.0       397.75  False  Very_Delay
32  2008      1           3          4   1450.0  ...            0.0               15.0       391.76  False  Very_Delay
48  2008      1           3          4   1859.0  ...            NaN                NaN       211.76  False   Min_Delay
49  2008      1           3          4   1538.0  ...            0.0               28.0       389.60  False  Very_Delay
57  2008      1           3          4    905.0  ...            NaN                NaN       438.93  False   Min_Delay

[5 rows x 30 columns]

In [30]:
# Aerolíneas con mayores retrasos acumulados:
# A pesar de salir antes o después, el retreaso real esta a la hora de llegada

AcuArrDelay = df.groupby(['UniqueCarrier'])[['ArrDelay']].agg(['sum'])
AcuArrDelay = AcuArrDelay.sort_values(by=[('ArrDelay', 'sum')], ascending=False)
AcuArrDelay.head()

                ArrDelay
                     sum
UniqueCarrier
WN             1155110.0
AA              905998.0
UA              699979.0
MQ              673216.0
OO              604363.0

In [31]:
# Similar al paso anterior, pero SÓLO considerando los retrasos de llegada (y NO los tiempos de llegada antes de lo previsto)
# Creo una nueva columna para realizar el calculo

conditions = [
    (df['ArrDelay'] <= 0), #Valores negativos los ponemos en cero para que no alteren los retrasos 
    (df['ArrDelay'] > 0)
    ]

# create a list of the values we want to assign for each condition
values = [0, df['ArrDelay']] 

# create a new column and use np.select to assign values to it using our lists as arguments
df['RealDelay'] = np.select(conditions, values)

df.head()

    Year  Month  DayofMonth  DayOfWeek  DepTime  ...  LateAircraftDelay  AveFliSpeed  OnTime  RangeDelay  RealDelay
5   2008      1           3          4   1937.0  ...               47.0       397.75   False  Very_Delay       57.0
32  2008      1           3          4   1450.0  ...               15.0       391.76   False  Very_Delay       21.0
48  2008      1           3          4   1859.0  ...                NaN       211.76   False   Min_Delay        5.0
49  2008      1           3          4   1538.0  ...               28.0       389.60   False  Very_Delay       43.0
57  2008      1           3          4    905.0  ...                NaN       438.93   False   Min_Delay        4.0

[5 rows x 31 columns]

In [32]:
# Aerolíneas con mayores retrasos acumulados:
# display updated DataFrame

AcuArrDelay2 = df.groupby(['UniqueCarrier'])[['RealDelay']].agg(['sum'])
AcuArrDelay2 = AcuArrDelay2.sort_values(by=[('RealDelay', 'sum')], ascending=False)
AcuArrDelay2.head()

               RealDelay
                     sum
UniqueCarrier
WN             1185050.0
AA              918648.0
UA              711565.0
MQ              677873.0
OO              608634.0

In [33]:
# Rutas más largas y las que acumulen más retrasos:

MoreDist2 = df.groupby(['Distance','Origin', 'Dest'])[['RealDelay']].agg(['sum'])
MoreDist2.sort_index(ascending = False).head(15)

                     RealDelay
                           sum
Distance Origin Dest
4962     HNL    EWR     1041.0
         EWR    HNL      565.0
4502     HNL    ATL      338.0
         ATL    HNL      830.0
4243     ORD    HNL      604.0
         HNL    ORD       68.0
4213     KOA    ORD      315.0
4184     ORD    OGG      139.0
3972     MSP    HNL      151.0
         HNL    MSP      324.0
3904     IAH    HNL      758.0
         HNL    IAH      572.0
3784     HNL    DFW      871.0
         DFW    HNL      674.0
3711     OGG    DFW      568.0

In [34]:
# Vuelos con mayor Elapsed Time que el programado:

conditions = [
    ((df["ActualElapsedTime"] - df["CRSElapsedTime"]) <= 0),  
    ((df["ActualElapsedTime"] - df["CRSElapsedTime"]) > 0)
    ]

# create a list of the values we want to assign for each condition
values = [0, (df["ActualElapsedTime"] - df["CRSElapsedTime"])] 

# create a new column and use np.select to assign values to it using our lists as arguments
df['ExtraET'] = np.select(conditions, values)

df.head()

    Year  Month  DayofMonth  DayOfWeek  DepTime  ...  AveFliSpeed  OnTime  RangeDelay RealDelay  ExtraET
5   2008      1           3          4   1937.0  ...       397.75   False  Very_Delay      57.0      0.0
32  2008      1           3          4   1450.0  ...       391.76   False  Very_Delay      21.0      6.0
48  2008      1           3          4   1859.0  ...       211.76   False   Min_Delay       5.0      0.0
49  2008      1           3          4   1538.0  ...       389.60   False  Very_Delay      43.0      0.0
57  2008      1           3          4    905.0  ...       438.93   False   Min_Delay       4.0      0.0

[5 rows x 32 columns]

In [36]:
# Vuelos con Mayor Extra Elapsed Time (Tiempo acumulado y numero de casos):

ExtraETFlights = df.groupby(['Distance','Origin', 'Dest'])[['ExtraET']].agg(['sum', 'count' ])
ExtraETFlights = ExtraETFlights.sort_values(by=[('ExtraET', 'sum')], ascending=False)
ExtraETFlights.head()

                     ExtraET
                         sum count
Distance Origin Dest
733      LGA    ORD   4565.0   358
2475     JFK    LAX   3801.0   264
733      ORD    LGA   3773.0   436
761      LGA    ATL   3117.0   365
         ATL    LGA   3102.0   395

In [40]:
# Otros motivos de retraso según ruta (Tiempo acumulado y tiempo máximo):

OthersDelays = df.groupby(['Origin', 'Dest'])[['Diverted',
    'CarrierDelay', 'WeatherDelay', 'NASDelay', 
    'SecurityDelay', 'LateAircraftDelay']].agg(['sum', 'count', 'max' ])
OthersDelays.head(10)

            Diverted           CarrierDelay               ... SecurityDelay            LateAircraftDelay
                 sum count max          sum count    max  ...           sum count  max               sum count    max
Origin Dest                                               ...
ABE    ATL         0    28   0        762.0    17  115.0  ...           0.0    17  0.0             154.0    17   97.0
       BHM         0     1   0          0.0     0    NaN  ...           0.0     0  NaN               0.0     0    NaN
       CLE         0     5   0         88.0     3   54.0  ...           0.0     3  0.0              25.0     3   25.0
       CLT         0     4   0         20.0     2   20.0  ...           0.0     2  0.0              10.0     2   10.0
       CVG         0     1   0          0.0     0    NaN  ...           0.0     0  NaN               0.0     0    NaN
       DTW         0    25   0        626.0    19  259.0  ...           0.0    19  0.0             685.0    19  342.0
       LGA         0     1   0          0.0     1    0.0  ...           0.0     1  0.0               0.0     1    0.0
       ORD         2    42   1        768.0    30  268.0  ...           0.0    30  0.0             847.0    30  211.0
ABI    DFW         0    37   0       2270.0    23  502.0  ...           0.0    23  0.0             118.0    23   59.0
ABQ    AMA         0    20   0         51.0    14   23.0  ...           0.0    14  0.0             612.0    14  132.0

[10 rows x 18 columns]

## Ejercicio 3
Exporta el dataset limpio y con las nuevas columnas a Excel.

In [41]:
#  LIMPIANDO:

#Remove rows that contain empty cells:
df.dropna(inplace = True)

#Remove duplicates:
df.drop_duplicates(inplace = True)

In [42]:
# EXPORTAR A EXCEL:
df.to_excel("DelayedFlightsFinal.xlsx")